code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Organizational */
* {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  /* background color 0 */
  margin: 0;
  background-color: #1c2a39;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer10 {
  padding: 0;
  height: 10px;
}

h1,
h2,
h3,
h4 {
  font-size: 300px;
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  /* color 11 */
  color: white;
  padding: 0;
  margin: 5px;
}

.dark {
  /* color 0 */
  color: black;
}

.container-outer {
  margin: 75px auto;
  width: 70%;
  // border: 3px solid green;
  padding: 10px;
}

.container-inner {
  width: 85%;
  margin: 10px auto 5px;
  /* background color 2 */
  background-color: #3c4a59;
  padding: 10px;
  border-radius: 5px;
}
